body{
    font-family: 'Inter', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Work Sans', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
    margin-left: 60px;
}
.color{
    color: #FF5400;
}
nav >ul{
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 50px;

}
nav a{
    text-decoration: none;
    color:#424247;
}

.container{
    width: 500px;
    height: 700px;
    position: relative;
    line-height: 23px;
}
.gradient{
    height: 550px;
    width: 1140px;
    background-color: black;
    opacity: 0.5;
    position: absolute;
   
    margin-left: 60px;
    border-radius: 16px;
}
.img{
    margin-left: 60px;
    height: 550px;
    width: 1140px;
    border-radius: 16px;
}

.banner-text{
    position: absolute;
    top: 120px;
    margin-left: 220px;
    color:  #f3f0f0;
text-align: center;
height: 632px;
width: 890px;
font-style: normal;
margin-bottom: 0;

}

.po{
font-family: Mulish;
font-size: 64px;
font-style: normal;
font-weight: 800;

}
.fo{
    font-family: Mulish;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 45px;
    margin-top: 1px;
    opacity: .6;
}
.btn1{
    margin-left: 5px;
    height: 40px;
    width: 120px;
    border-radius: 8px;
background: #FFF;
border: none;
color: rgba(69, 69, 236, 0.5);
}
.btn2{
    margin-left: 5px;
    height: 40px;
    width: 120px;
    border-radius: 8px;
background: #FFF;
border: none;
color: rgba(69, 69, 236, 0.5);
}
.btn3{
    margin-left: 5px;
    height: 40px;
    width: 120px;
    border-radius: 8px;
background: #FFF;
border: none;
color: rgba(69, 69, 236, 0.5);
}
.btn4{
    margin-left: 5px;
    height: 40px;
    width: 120px;
    border-radius: 8px;
background:#FF5400;
border: none;
color: rgb(255, 255, 255);
}
.arrow{
    height: 17px;
    width: 24px;

}
.arrow1{
    height: 19px;
    width: 24px;
    color: #f3f0f0;
}
.text{
    margin-left: 10px;
    width: 30%;
}

.dolor,li{
    color: rgb(158, 156, 156);
    font-size: smaller;
    margin-left: 50px;
}
.btn5{
    margin-left: 50px;
    height: 40px;
    width: 120px;
    border-radius: 8px;
background: #FF5400;
border: none;
color: rgb(248, 248, 250);
}
.text-pic{
    display: flex;
    position: absolute;
    margin-left:2px;
}


.rectangle4{
    height: 410px;
    margin-top: 35px;
    position: relative;
    width: 90%;
    margin-left: 234px;
}
.destination{
    text-align: center;
    margin-left: 20px;
}
.choose-destination{
    margin-top: 600px;
    text-align: center;
    width: 550px;
    margin-left: 350px;
}
/*destination pic*/
.destination-pic-set{
    display: flex;

}
.maldiv{
    margin-left: 60px;
    width: 562px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, 
    rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>),
     rgb(85, 83, 83) 50% / cover no-repeat;
     border-radius: 15px;
}
.maldives{
    display: flex;
    position: relative;
}
.pic-text{
position:absolute;
margin-left: 300px;
margin-top: 180px;
font-size: 22px;
color: #f3f0f0;
}
.indonasia1{
    margin-left: 14px;
    width: 562px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, 
    rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>),
     rgb(85, 83, 83) 50% / cover no-repeat;
     border-radius: 15px;
}
.indonasia{
    display: flex;
    position: relative;
}
.pic-text1{
    position:absolute;
    margin-left: 280px;
    margin-top: 180px;
    font-size: 22px;
    color: #f3f0f0;
    }
/* second column pic set*/
    .lanka{
        margin-top: 16px;
        margin-left: 60px;
        width: 340px;
        background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, 
        rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>),
         rgb(85, 84, 84) 50% / cover no-repeat;
         border-radius: 15px;
    }
    .sri{
        display: flex;
        position: relative;
    }
    .pic-text2{
        position:absolute;
        margin-left: 200px;
        margin-top: 160px;
        font-size: 22px;
        color: #f7eeee;
        }
    
        .north{
            display: flex;
        position: relative;
        }
        .america{
            margin-top: 16px;
            margin-left: 15px;
            width: 515px;
            background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, 
            rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>),
             rgb(59, 58, 58) 50% / cover no-repeat;
             border-radius: 20px;
        }
        .pic-text3{
            position:absolute;
            margin-left: 200px;
            margin-top: 160px;
            font-size: 22px;
            color: #f7eeee;
            }

            .kash{
                display: flex;
                position: relative;
            }

            .mir{
                margin-top: 16px;
                margin-left: 15px;
                width: 255px;
                background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, 
                rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>),
                 rgb(59, 58, 58) 50% / cover no-repeat;
                 border-radius: 20px;

            }

            .pic-text4{
                position:absolute;
                margin-left: 120px;
                margin-top: 160px;
                font-size: 22px;
                color: #f7eeee;
                }
/* third column pic set*/
.bangla{
    display: flex;
    position: relative;
}
.desh{
    margin-top: 16px;
    margin-left: 60px;
    width: 520px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, 
    rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>),
     rgb(59, 58, 58) 50% / cover no-repeat;
     border-radius: 20px;

}

.pic-text5{
    position:absolute;
    margin-left: 270px;
    margin-top: 160px;
    font-size: 22px;
    color: #f7eeee;
    }
.bandar{
    display: flex;
    position: relative;
}
.ban{
    margin-top: 16px;
    margin-left: 15px;
    width: 610px;
    background: linear-gradient(0deg, rgba(19, 19, 24, 0.20) 0%, 
    rgba(19, 19, 24, 0.20) 100%), url(<path-to-image>),
     rgb(59, 58, 58) 50% / cover no-repeat;
     border-radius: 20px;

}
.pic-text6{
    position:absolute;
    margin-left: 290px;
    margin-top: 160px;
    font-size: 22px;
    color: #f7eeee;
    }
    /*why choose then portion*/
    .hotelmap{
        display: flex;
        width: 1090px;
    }
    .choose{
        text-align: center;
    }
    p{
        width: 550px;
        margin-left: 350px;
    }
    .hotel{
        margin-left: 60px;
        height: 180px;
        width: 540px;
        border-radius: 16px;
        border: 1px solid rgba(251, 181, 99, 0.20);
        background: rgba(251, 181, 99, 0.05);
    }
    .hotelpic{
        margin-top: 20px;
        margin-left: 20px;
        height: 50px;
        width: 50px;
    }
    .hotel1{
        margin-left: 60px;
        height: 180px;
        width: 540px;
        border-radius: 16px;
        border: 1px solid rgba(41, 206, 246, 0.20);
        background: rgba(41, 206, 246, 0.05);
    }
    .mappic{
        margin-top: 20px;
        margin-left: 20px;
        height: 50px;
        width: 50px;
        
    }
    .paragraph{
        font-size: small;
        margin-left: 20px;
        width: 540px;
    }
    h3{
        margin-left: 20px;
        margin-bottom: 5px;
    }
    .prctag{
        margin-top: 24px;
        margin-left: 350px;
        height: 180px;
        width: 540px;
        border-radius: 16px;
        border: 1px solid rgba(251, 181, 99, 0.20);
        background: rgba(251, 181, 99, 0.05);
        
    }
    .tag{
        margin-top: 20px;
        margin-left: 20px;
        height: 50px;
        width: 50px;
    }

    /*bonus part*/
    .white{
        height: 380px;
        width: 480px;
        background-color: #f8f8ff;
        position: absolute;
        margin-left: 650px;
        margin-top: 50px;
        opacity: .8;
        border-radius: 15px;
    
    }
    .bonus-part1,.bonus-part3{
        display: flex;
        position: relative;
    }
    h1{
        text-align: center;
        margin-top: 70px;
        
    }
    .group39{
        margin-left: 60px;
        width: 1140px;
    }
.watch {
    height: 25px;
    width: 25px;
    position: absolute;
    background-color: #424247;
    margin-left: 725px;
    margin-top: 125px;
    
    
}
.daynight{
   
    position: absolute;
    margin-left: 755px;
    margin-top: 125px;
}
.bonus-part1{
    position: relative;
    display: flex;
}

.people{
    height: 25px;
    width: 25px;
    position: absolute;
    background-color: #424247;
    margin-left: 865px;
    margin-top: 125px;
    
}
.max{
    position: absolute;
    margin-left: 895px;
    margin-top: 125px;
}
.location{
    height: 25px;
    width: 25px;
    position: absolute;
    background-color: #424247;
    margin-left: 965px;
    margin-top: 125px;
}
.malaysia{
    position: absolute;
    margin-left: 995px;
    margin-top: 125px;
}

.tour{
    position: absolute;
    margin-left: 705px;
    margin-top: 150px;
    width: 300px;
}
.orange{
    color: #FF5400;
}
.btn2{
    border: 0;
    background-color:#FF5400;
    color: #f3f0f0;
    font-size: 16px;
}
/*bonus second pic*/
.bonus-part2{
    margin-top: 20px;
}
.white2{
    height: 380px;
    width: 480px;
    background-color: #f8f8ff;
    position: absolute;
    margin-left: 150px;
    margin-top: 50px;
    opacity: .8;
    border-radius: 15px;

}
.bonus-part2{
    display: flex;
    position: relative;
}
h1{
    text-align: center;
    margin-top: 70px;
    
}
.group392{
    margin-left: 60px;
    width: 1140px;
}
.watch2{
height: 25px;
width: 25px;
position: absolute;
background-color: #424247;
margin-left: 255px;
margin-top: 125px;


}
.daynight2{

position: absolute;
margin-left: 285px;
margin-top: 125px;
}
.bonus-part2{
position: relative;
display: flex;
}

.people2{
height: 25px;
width: 25px;
position: absolute;
background-color: #424247;
margin-left: 385px;
margin-top: 125px;

}
.max2{
position: absolute;
margin-left: 415px;
margin-top: 125px;
}
.location2{
height: 25px;
width: 25px;
position: absolute;
background-color: #424247;
margin-left: 475px;
margin-top: 125px;
}
.malaysia2{
position: absolute;
margin-left: 505px;
margin-top: 125px;
}

.tour2{
position: absolute;
margin-left: 225px;
margin-top: 150px;
width: 300px;
}
.orange2{
color: #FF5400;
}
.btn2{
border: 0;
background-color:#FF5400;
color: #f3f0f0;
font-size: 16px;
}
/*bonus third pic*/
.bonus-part1{
    margin-top: 20px;
}